body {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: #e5e1ee;
}

h1 {
  font-size: 3em;
}

.header {
  width: 100%;
  height: 50px;
  background-color: white;

}

.main-container {
  margin: 0 20px 0 20px;
}

.main-logo h2 {
  color: #90bede;
}

.search-bar {
  border: 1px solid #90bede;
  width: 400px;
  height: 30px;
  background: transparent;
}

.search {
  color: #999;
  padding: 8px;
}

.search-icon {
  
}

#logout-btn {
  border: 2px solid #90bede !important;
  border-radius: 25px !important;
  background: #90bede;
  color: #FFF !important;
  padding: 10px 30px !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

#logout-btn:hover {
  background: transparent !important;
  color: #90bede !important;
}

.main-user {
  width: 30px;
  height: 30px;
  background-color: #e5e1ee;
}

.main-masthead {
  position: relative;
}

.masthead-image {
  background-color: #90bede;
  width: 100%;
  height: 300px;
  margin: 0;
}

.user-family {
  position: absolute;
  top: 30px;
  left: 30px;
  text-transform: uppercase;
}
